@font-face {
    font-family: myFirstFont;
    src: url(Bosch.otf);
  }
  @font-face {
    font-family: FF2;
    src: url(ProductSansRegular.ttf);
  }
  



body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f1f1eb;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:FF2 ;
}
.container{
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 90%;
    margin: auto;
}
.cell1, .cell2, .cell3 , .cell4{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.tete{
    font-size: 100px;
    font-family: myFirstFont;   
    padding-bottom: 10%;
}.welcome{
    font-size: 50px;
    font-family: myFirstFont;
    padding-bottom: 2%;
}
.cell2{
    align-items: center;
}
.col1,.col2,.col3,.col4{
height: 50%;
display: flex;
flex-direction: column;
overflow: scroll;
}

  .col1::-webkit-scrollbar {
    display: none;
  }
  .col2::-webkit-scrollbar {
    display: none;
  }.col3::-webkit-scrollbar {
    display: none;
  }.col4::-webkit-scrollbar {
    display: none;
  }



.col1{
    background-color: #e4e4e4;
}
.col4{
    background-color: #b2cbca;
}
.colfill{

    padding: 7%;
}
.head,.link{
    font-size: large;
    font-weight: bold;
    font-family: myFirstFont; 
}
.link{
    text-decoration: underline;
    cursor: pointer;
}
.link:hover{
    color: rgb(104, 104, 104);
    transition:all 0.5s;
}
.content{
    margin-top:5%;
    margin-bottom: 3%;
    color: rgb(99, 99, 99);
}
.img{
    width: 90%;
    height: auto;
}



.gal,.letters{
    position: absolute;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(15px) ;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    display: none;
  transition: all 1s;
}
.attest{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.img_attest{
    height: 80vh;
    width: auto;
}